body{
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
    text-align: center;
}


.header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-size: 32px;
}

.contenedor h3{
    font-size: 18px;
}

.imagen{
    display: flex;
    position: absolute;
    
}

img{
    background-color: white;
    width: 270px;
}

section{
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
}

.contenedorPrincipal{
    background-color: lightblue;
    width: 60%;
    height: 1200px;

}

.contenedor{
    color: blue;
}

.cuadroListas p{
    font-size: 23px;
}

button{
    background-color: blue;
    color: white;
    width: 25%;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

ul li{
    list-style: none;
    text-align: center;
    font-size: 20px;
}

#numPromedio{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#numNota{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#respAplazados{
    font-size: 22px;
}









